<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Ejercicios</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Habilidad</th>
            </tr>
        </thead>
        <tbody>
            {% for c in jercicio %}
            <tr>
                <td>{{c.hablidad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
